<template id="card-template">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Play&display=swap');

    body {
      font-family: 'Play', sans-serif;
      background-image:
        linear-gradient(to bottom, rgba(85, 191, 233, 0.575), rgba(26, 8, 129, 0.37)),
        url('./images/insurance.jpg');
      background-size: cover;
    }

    .lukes-card {
      background-color: transparent;
      width: 25vw;
      height: 80vh;
      perspective: 1000px;
      margin-left: 35%;
      margin-top: 2%;
    }

    .lukes-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 5%;

    }

    .lukes-card:hover .lukes-card-inner {
      transform: rotateY(180deg);
    }

    .lukes-card-front,
    .lukes-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 5%;

    }

    .lukes-card-front {
      background-image: linear-gradient(0.25turn, #3f87a65e, #040503, #3f87a65e),
        url('./images/hexCarbon.jpg');
      color: black;
      background-size: 290%;
    }

    .lukes-card-back {
      background-color: #2980b9;
      color: white;
      transform: rotateY(180deg);
    }

    .back-text {
      margin: 2% 2.5%;
    }

    .title {
      font-size: 1.5rem;
    }

    .lukes-card-back {
      background-image: linear-gradient(0.25turn, #3f87a6a6, #040503, #f69c3c9f),
        url('./images/hexCarbon.jpg');
      background-size: cover;
    }
    .text-area{
      background-color: #0405035d;
      height: 66%;
      border-radius: 25px;
    }
  </style>
  <div class="lukes-card">
    <div class="lukes-card-inner">
      <div class="lukes-card-front">
        <img src="./images/logoClutch.png" alt="logo" style="width:24vw;height:160px;margin-top:50%;">
      </div>
      <div class="lukes-card-back">
        <img src="./images/logoClutch.png" alt="cardImg" style="width:24vw;height:160px;margin-top:10%;">
        <div class="text-area">
          <h1 class="cardHead">Lukas Simianer</h1>
          <p class="title">Junior Developer</p>
          <p class="title">26 years old</p>
          <div class="back-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta commodi, neque tenetur ea cupiditate
            accusamus, dolore numquam incidunt dolorem eveniet officiis itaque quos hic qui ut inventore maxime
            culpa blanditiis?
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<lukes-card></lukes-card>


<script>
  'use strict';

  class LukesCard extends HTMLElement {
    static get observedAttributes() {
      return ['open'];
    }

    constructor() {
      super();
      this.close = this.close.bind(this);
    }

    attributeChangedCallback(attrName, oldValue, newValue) {
      if (oldValue !== newValue) {
        this[attrName] = this.hasAttribute(attrName);
      }
    }

    connectedCallback() {
      const template = document.getElementById('card-template');
      const node = document.importNode(template.content, true);
      this.appendChild(node);


      this.querySelector('.overlay').addEventListener('click', this.close);
      this.open = this.open;
    }

    disconnectedCallback() {
      this.querySelector('button').removeEventListener('click', this.close);
      this.querySelector('.overlay').removeEventListener('click', this.close);
    }


    get open() {
      return this.hasAttribute('open');
    }


    set open(isOpen) {
      this.querySelector('.wrapper').classList.toggle('open', isOpen);
      this.querySelector('.wrapper').setAttribute('aria-hidden', !isOpen);
      if (isOpen) {
        this._wasFocused = document.activeElement;
        this.setAttribute('open', '');
        document.addEventListener('keydown', this._watchEscape);
        this.focus();
        this.querySelector('button').focus();
      } else {
        this._wasFocused && this._wasFocused.focus && this._wasFocused.focus();
        this.removeAttribute('open');
        document.removeEventListener('keydown', this._watchEscape);
        this.close();
      }
    }


    close() {
      if (this.open !== false) {
        this.open = false;
      }
      const closeEvent = new CustomEvent('card-closed');
      this.dispatchEvent(closeEvent);
    }

    _watchEscape(event) {
      if (event.key === 'Escape') {
        this.close();
      }
    }
  }

  customElements.define('lukes-card', LukesCard);
</script>